<template>
  <div>
    <h2>Example heading <gl-deprecated-badge>New</gl-deprecated-badge></h2>
    <h3>Example heading <gl-deprecated-badge>New</gl-deprecated-badge></h3>
    <h4>Example heading <gl-deprecated-badge>New</gl-deprecated-badge></h4>
    <h5>Example heading <gl-deprecated-badge>New</gl-deprecated-badge></h5>
    <h6>Example heading <gl-deprecated-badge>New</gl-deprecated-badge></h6>
  </div>
</template>
